<h2>Manifesto</h2>

        <p>
            This website aims at experimenting and learning to master a new notation for music,
            called the <strong>duodecimal notation</strong>.
        </p>

        <p>
            The duodecimal notation is smarter than the one most musicians are used to.
            It is simple, regular, consistent. It lets musicians have deeper insights about their music with less thinking, allowing them to spend more time focusing on the essentials of music, and less time learning to do so.
        </p>

        <p>
            <em>Duodecimal</em> means "with 12 digits".
            The duodecimal notation consists in representing notes and intervals with 12-digits numbers.
            A huge advantage of duodecimal notation is to provide a unified notation for notes, intervals, scales, chords, and modes.
        </p>

