<h2>Playing around with intervals</h2>

<p>Click on an interval to play it.</p>

<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Minor 2nd">
    <d12-invl v="1" ng-click="playThatInterval(1)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Major 2nd">
    <d12-invl v="2" ng-click="playThatInterval(2)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Minor 3rd">
    <d12-invl v="3" ng-click="playThatInterval(3)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Major 3rd">
    <d12-invl v="4" ng-click="playThatInterval(4)"></d12-invl>
</div>

<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Perfect 4th">
    <d12-invl v="5" ng-click="playThatInterval(5)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Augmented 4th, Diminished 5th">
    <d12-invl v="6" ng-click="playThatInterval(6)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Perfect Fifth">
    <d12-invl v="7" ng-click="playThatInterval(7)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Minor 6th">
    <d12-invl v="8" ng-click="playThatInterval(8)"></d12-invl>
</div>

<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Major 6th">
    <d12-invl v="9" ng-click="playThatInterval(9)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Minor 7th">
    <d12-invl v="10" ng-click="playThatInterval(1)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Major 7th">
    <d12-invl v="11" ng-click="playThatInterval(1)"></d12-invl>
</div>
<div style="display: inline-block;"
     tooltip-placement="bottom" tooltip="aka Octave">
    <d12-invl v="12" ng-click="playThatInterval(1)"></d12-invl>
</div>

<div class="player-opts">
    

</div>