<h2>Settings</h2>
<form>
    <div>
        <label for="instrument">channel</label>
        <select name="instrument" id="instrument" ng-model="settings.instrument">
            <option value="{{ins}}"
                    ng-repeat="ins in instruments">
                {{ins}}
            </option>
        </select>
    </div>
    <div>
        <label for="volume">volume</label>
        <input type="text" id="volume"
                ng-model="settings.volume"/>
    </div>
    <div>
        <label for="pitch">pitch</label>
        <input type="text" id="pitch"
               ng-model="settings.pitch"/>
    </div>
    <div>
        <label for="velocity">velocity</label>
        <input type="text" id="velocity"
               ng-model="settings.velocity"/>
    </div>
    <div>
        <label for="delay">delay</label>
        <input type="text" id="delay"
               ng-model="settings.delay"/>
    </div>
    <div>
        <label for="duration">duration</label>
        <input type="text" id="duration"
               ng-model="settings.duration"/>
    </div>
</form>

        <button ng-click="playNote()">PLAY NOTE</button>