<div id="notes-sandbox">

    <h2>Notes examples</h2>

    <d12-note pitch="1"></d12-note>
    <d12-note pitch="2"></d12-note>
    <d12-note pitch="3"></d12-note>
    <d12-note pitch="10"></d12-note>
    <d12-note pitch="11"></d12-note>
    <d12-note pitch="23"></d12-note>
    <d12-note pitch="24"></d12-note>
    <d12-note pitch="134"></d12-note>

    <h2>Intervals examples</h2>
    <d12-invl v="12"></d12-invl>
    <d12-invl v="0"></d12-invl>
    <d12-invl v="4"></d12-invl>
    <d12-invl v="34"></d12-invl>
    <d12-invl v="10"></d12-invl>
    <d12-invl v="3"></d12-invl>
    <d12-invl v="7"></d12-invl>
    <d12-invl v="11"></d12-invl>

</div>